<a href="https://colab.research.google.com/github/SUMITYADAV96/PATTERN-SOLUTION-PRACTICE-/blob/main/Pattern_python_solution.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## PATTERN PRACTICE SLOUTION

In [1]:
num = int(input("enter your number of rows here: "))
for i in range(num):
  for j in range (num):
      print("*",end =" ")
  print()

enter your number of rows here: 5
* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [2]:
num = int(input("enter the number of rows :"))
for i in range (num):
  print(" * "*num)

enter the number of rows :8
 *  *  *  *  *  *  *  *
 *  *  *  *  *  *  *  *
 *  *  *  *  *  *  *  *
 *  *  *  *  *  *  *  *
 *  *  *  *  *  *  *  *
 *  *  *  *  *  *  *  *
 *  *  *  *  *  *  *  *
 *  *  *  *  *  *  *  *

In [3]:
num = int(input("enter the number of rows :"))
for i in range (num):
  print(" * " * int(i+1))

enter the number of rows :10
 *
 *  *
 *  *  *
 *  *  *  *
 *  *  *  *  *
 *  *  *  *  *  *
 *  *  *  *  *  *  *
 *  *  *  *  *  *  *  *
 *  *  *  *  *  *  *  *  *
 *  *  *  *  *  *  *  *  *  *

In [4]:
num=int(input("enter the number of rows :"))
for i in range(1,num+1):
  print(" * " * i)

enter the number of rows :5
 *
 *  *
 *  *  *
 *  *  *  *
 *  *  *  *  *

In [5]:
num=int(input("enter the number of rows :"))
for i in range (1,num+1):
  print("  " *(num-i) + "* " * i)

enter the number of rows :7
            *
          * *
        * * *
      * * * *
    * * * * *
  * * * * * *
* * * * * * *

In [6]:
num=int(input("enter the number of rows :"))
for i in range (1,num+1):
  print(" " *(num-i) + "* " * i)
for i in range (num,0,-1):
  print(" " *(num-i) + "* " * i)

enter the number of rows :4
   *
  * *
 * * *
* * * *
* * * *
 * * *
  * *
   *

In [7]:
num=int(input("enter the number of rows :"))
for i in range (1,num+1):
  print(" " *(num-i) + "* " * i)
for i in range (num-1,0,-1):
  print(" " *(num-i) + "* " * i)

enter the number of rows :9
        *
       * *
      * * *
     * * * *
    * * * * *
   * * * * * *
  * * * * * * *
 * * * * * * * *
* * * * * * * * *
 * * * * * * * *
  * * * * * * *
   * * * * * *
    * * * * *
     * * * *
      * * *
       * *
        *

In [8]:
num=int(input("enter the number of rows :"))
for i in range (num-1,0,-1):
  print(" " *(num-i) + "* " * i)

enter the number of rows :7
 * * * * * *
  * * * * *
   * * * *
    * * *
     * *
      *

In [9]:
num=int(input("enter the number of rows :"))
for i in range (num-1,0,-1):
  print("* " * i)

enter the number of rows :7
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [10]:
num=int(input("enter the number of rows :"))
for i in range (1,num+1):
  print("* " * i)

for i in range (num-1,0,-1):
  print("* " * i)

enter the number of rows :5
*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*